
/* .tabla{
    color: rgb(173, 69, 69);
    border: 1px solid rgb(173, 69, 69);
    width: 100%;
    align-content: center;
    text-align: center;
    margin-top: 5%; 
    padding-right: 4%;
} */

.divPrincipal{
    justify-content: center;
    width: 300px;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: rgb(21, 77, 77);
    margin: 20px;
    border-radius: 20px;
}

.Img{
    width: 250px;
    height: 150px;
}

.tituloLabel{
    font-weight: bold;
    padding-right: 10px;
}

.divPrincipal div{
    margin: 20px 5px;
}